* {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.flex_container {
    display: flex;
}

.persone  {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.colori {
    border: 1px solid rgb(184, 182, 182);
    display: flex;
    height: 100%;
    width: 400px;
    flex-wrap: wrap;
}


.prova {
    background-color: pink;
    text-align: center;
}


.elem_tabella_colori {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 0.75rem;
    text-align: center;
    line-height: 60px;
    color: black;
}


.avatar {
    padding: 3px;
    text-align: center;
    margin: 0.5rem;
    width: 170px;
    height: 250px;
    border: 1px solid black;
    color: black;
    background-color: white;
    
}

.avatar img {
    width: 150px;
    height: 150px;
}


