* {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.flex_container {
    display: flex;
    height: 100%;
}

.persone  {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.azioni {
    border: 1px solid rgb(184, 182, 182);
    display: flex;
    height: 100%;
    width: 400px;
    flex-wrap: wrap;
    background-color: #E8E8E8;

}


.colori {
    border: 1px solid rgb(184, 182, 182);
    display: flex;
    height: 100%;
    width: 400px;
    flex-wrap: wrap;
}

.colori h1 {
    font-size: 15px;
    width: 100%;
    text-align: center
}

.temi {
    border: 1px solid rgb(184, 182, 182);
    display: flex;
    height: 100%;
    width: 400px;
    flex-wrap: wrap;
}

.temi h1 {
    font-size: 15px;
    width: 100%;
    text-align: center
}


.header {
    background-color: #E8E8E8;
    font-size: 15px;
    height: 50px;
    border-bottom: 1px solid grey;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 5px;
}

.header h1 {
    background-color: unset;
    height: 100%;
}



.elem_tabella_colori {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 0.15rem;
    text-align: center;
    line-height: 60px;
    color: black;
}


.avatar {
    padding: 3px;
    text-align: center;
    margin: 0.5rem;
    width: 170px;
    height: 200px;
    border: 1px solid black;
    color: black;
    background-color: white;
    
}

.avatar img {
    width: 150px;
    height: 150px;
}

.defaultIcon{

    width: 100px;
    height: 40px;
    border: 1px solid black;
    margin: 0.25rem;
    text-align: center;
    vertical-align: middle;
}

.firstThemeIcon{

    width: 100px;
    height: 40px;
    border: 1px dotted black;
    margin: 0.25rem;
    text-align: center;
    vertical-align: middle;
}

.secondThemeIcon{

    
    width: 100px;
    height: 40px;
    border: 2px solid salmon;
    margin: 0.25rem;
    text-align: center;
    vertical-align: middle;

}


/*-----------------------------------------TEMI-----------------------------------------*/

.default{

    font-size: 12px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.firstTheme{

    font-size: 17px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: right;
}

.secondTheme{

    
    font-size: 17px;
    color: salmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: left;

}


